{% extends 'index.html' %}
{% load static %}

{% block content %}

{% include 'navbar.html' %}


<body class="editor_false  lang_ru     not_ie">

    <div id="wrapper" class="" style="padding-top: 88px;">




        <div data-hcolor="#f5550e"
			class="section section130 clip_none s_mode_s200 mobile_col2 inner_width img_square flex_fix transparent_ico"
			style="background-color:#fff;padding-top:80px;padding-bottom:80px;--tiles_radius:0px;--tiles_shadow:none;--bg_color:#fff;"
			data-id="4732122" id="b_4732122"><a name="a_4732122"></a>
			<div class="section_inner all_border btn_move"
				style="--icon_size:64px;--btn_fweight:300;--btn_fsize:18px;--item_title_fweight:400;">
				<div class="title"><b><span style="font-size:52px">Книги</span></b>
				</div>
				<div class="sub_title">
					<div>Читайте с удавольствием<br></div>
				</div>
				<div class="catalog_items short_text count5 s200 ">
					<div class="arr1">
						<div class="col_4">
							<div data-link="" class="image1 s200 shadow"><img data-lazy="1" width="200px" height="200px" loading="lazy"
									src="{% static 'img/sall.jpg' %}"></div>
							<div class="title1">Название книги</div>
							<div class="btn1 surround  dark" style="background-color:#f5550e; border-radius: 10em">
								Читать</div>
					
						</div>
					</div>

					<div class="arr1">
						<div class="col_4">
							<div data-link="" class="image1 s200 shadow"><img data-lazy="1" width="200px" height="180px" loading="lazy"
									src="{% static 'img/klint.jpg' %}"></div>
							<div class="title1">Название книги</div>
							<div class="btn1 surround  dark" style="background-color:#f5550e; border-radius: 10em">
								Читать</div>
					
						</div>
					</div>

                    <div class="arr1">
						<div class="col_4">
							<div data-link="" class="image1 s200 shadow"><img data-lazy="1" width="200px" height="180px" loading="lazy"
									src="{% static 'img/klint.jpg' %}"></div>
							<div class="title1">Название книги</div>
							<div class="btn1 surround  dark" style="background-color:#f5550e; border-radius: 10em">
								Читать</div>
					
						</div>
					</div>

                    <div class="arr1">
						<div class="col_4">
							<div data-link="" class="image1 s200 shadow"><img data-lazy="1" width="200px" height="180px" loading="lazy"
									src="./static/img/klint.jpg"></div>
							<div class="title1">Название книги</div>
							<div class="btn1 surround  dark" style="background-color:#f5550e; border-radius: 10em">
								Читать</div>
					
						</div>
					</div>

                    <div class="arr1">
						<div class="col_4">
							<div data-link="" class="image1 s200 shadow"><img data-lazy="1" width="200px" height="200px" loading="lazy"
									src="./static/img/sall.jpg"></div>
							<div class="title1">Название книги</div>
							<div class="btn1 surround  dark" style="background-color:#f5550e; border-radius: 10em">
								Читать</div>
					
						</div>
					</div>

                    <div class="arr1">
						<div class="col_4">
							<div data-link="" class="image1 s200 shadow"><img data-lazy="1" width="200px" height="200px" loading="lazy"
									src="./static/img/sall.jpg"></div>
							<div class="title1">Название книги</div>
							<div class="btn1 surround  dark" style="background-color:#f5550e; border-radius: 10em">
								Читать</div>
					
						</div>
					</div>
				
				</div>
			</div>
		</div>





    </div>



</body>

</html>

{% endblock content %}