{% extends 'index.html' %}
{% load static %}
{% load embed_video_tags %}

{% block content %}

{% include 'navbar.html' %}

<body class="editor_false  lang_ru     not_ie">
	<div id="wrapper" style="padding-top: 88px;">



		<div data-hcolor="#ff6600" class="section no_fontsize section153 clip_none"
			style="background-color:#ffffff;background-image:url(/static/img/bg_head.jpg);padding-top:100px;padding-bottom:50px;--light_opacity:0.75;--light_color:#ffffff;--light_bg:#212121;--light_radius:0;--light_padding:20px;"
			data-id="4722803" id="b_4722803"><a name="a_2410757"></a>
			<div class="dark"></div>
			<div class="section_inner all_border w450h60 btn_center">
				<div class="layer">
					<div class="layer_cover"></div>
					<div class="title" style="margin-bottom:10px;font-weight:600;">
						<p><strong><span style="font-size:72px">Добро пожаловать</span></strong></p>
						<p><strong><span style="font-size:72px">на сайт библиотеки</span></strong></p>
					</div>
					<div class="sub_title" style="margin-bottom:24px;font-weight:400;"><br></div>
					<a style="text-decoration: none;" href="{% url 'books' %}">
						<div class="btn1 surround animation dark" data-hcolor="#f78960"
							style="background-color:#f78960; border-radius: 2em; box-shadow: 0; font-size: 18px">Книги
						</div>
					</a>
					<div class="btn_descr"><br></div>
				</div>
			</div>
		</div>


		<div data-hcolor="#f5550e"
			class="section section130 clip_none s_mode_s200 mobile_col2 inner_width img_square flex_fix transparent_ico"
			style="background-color:#fcf5ed;padding-top:80px;padding-bottom:80px;--tiles_radius:0px;--tiles_shadow:none;--bg_color:#fff;"
			data-id="anchor6" id="anchor6"><a name="a_4732122"></a>

			<div class="section_inner all_border btn_move"
				style="--icon_size:64px;--btn_fweight:300;--btn_fsize:18px;--item_title_fweight:400;">
				<a style="text-decoration: none; color: #2c2c2c;" href="{% url 'books' %}">
					<div class="title"><b>Откройте для себя новую книгу</b></div>
				</a>
			</div>
			<div class="catalog_items short_text count5 s200">

				{% for book in books %}
				<div class="arr1">
					<div class="col_4">
						<div data-link="" class="image1 s200 shadow">
							<img style="height: 230px;" data-lazy="1" loading="lazy" src="{{book.photo.url}}">
						</div>
						<div class="title1">{{book.title}}</div>

						<a class="btn1 surround  dark"
							style="background-color:#f5550e; border-radius: 10em; text-decoration: none; color: #fff;"
							href="{{book.pdf.url}}">
							Читать
						</a>


					</div>
				</div>
				{% endfor %}

			</div>
		</div>
	</div>


	<div data-hcolor="#ff6600" class="section clip_none bg_text show_btn no_image section301 animate"
		style="background-color:#ffffff;background-image:url(/img/1920x0/image_10047.jpg);padding-top:90px;padding-bottom:70px;"
		data-id="4722812" id="b_4722812"><a name="anchor7"></a>
		<div class="section_inner width1170">
			<div class="title"><span style="color:#2c2c2c; font-size:50px">Новости в нашем
					блоге</span></div>
			<div class="sub_title">
				<p><span style="color:#000000"><span style="font-size:22px"></span></span><span
						style="font-size:20px">Рассказываем о наиболее популярных новостях из мира
						литературы</span><span style="color:#000000"><span style="font-size:22px"></span></span></p>
			</div>


			{% for new in news %}
			<div class="arr1 size_700x500 btn_under_text">
				<div data-link="" class="image1 link_on size_700x500 ">
					<img data-lazy="1" loading="lazy" width="350px" height="250px" src="{{new.image.url}}">
				</div>
				<div class="right size_700x500 btn_under_text ">
					<div class="txt1 ">
						<p><span style="color:#424242"><span
									style="font-size:20px"><strong>{{new.title}}</strong></span></span></p>
						<p><br></p>
						<p style="text-align: justify; padding-right: 10px;"><span style="font-family:montserrat"><span
									style="font-size:17px">{{ new.text}}</span></span></p>
					</div><a href="{% url 'news' %}" class="btn1 surround  dark" data-hcolor="#f78960"
						style="background-color:#f78960; border-radius: 2em; box-shadow: 0">Все</a>

				</div>
			</div>
			{% endfor %}


		</div>

		<div class="clip_none section bg_text section250 mode_3"
			style="background-color:#f1f1f1;margin-top:80px;padding-bottom:80px;" data-id="4754183" id="b_4754183"><a
				name="a_4754183"></a>
			<div class="section_inner all_border ">

				<div class="title"><a style="text-decoration: none; color: #2c2c2c;"
						href="{% url 'adt' %}">Объявления</a></div>

				<div class="arr1">
					{% for a in adt %}
					<div class="col_2">
						<div class="overlay_image_box">
							<div class="overlay_image_title title1" style="text-align: center;">
								<span style="font-family:ubuntu">
									<strong><span style="font-size:18px;">{{a.title}}</span></strong></span>
							</div>
							<div class="overlay_image_subtitle subtitle1" style="text-align: justify;">
								<span style="font-family:ubuntu">
									<span style="font-size:16px; color:#000;">{{a.text}}</span></span>
							</div>
						</div>
					</div>
					{% endfor %}

				</div>
			</div>
			<div class="adt_more">
				<a style="text-decoration: none; color: #2c2c2c; " href="{% url 'adt' %}">Все</a>
			</div>
		</div>



		<div class="section section1152 clip_none animate"
			style="background-color:#fcf5ed;margin-top:90px;padding-bottom:80px;" data-id="4722808" id="b_4722808"><a
				name="anchor4"></a>
			<div class="section_inner">
				<div class="title" style="color: #2c2c2c;">Ресурсы библиотеки</div>
				<div class="sub_title"><br>
					<div><br></div>
				</div>
				<div class="images">
					<div class="image_box arr1">
						<div class="img1116" style="background-image:url(/static/img/partner/logo_ilbirs.png)"></div>
						<div class="overlay_image_box" data-link-target=""
							data-link="https://lib.oshsu.kg/CGI/irbis64r_plus/cgiirbis_64_ft.exe?C21COM=F&I21DBN=OSU_FULLTEXT&P21DBN=OSU&Z21ID=&S21CNR=5">
						</div>
					</div>
					<div class="image_box arr1">
						<div class="img1116" style="background-image:url(/static/img/partner/logo_oshsu.png)"></div>
						<div class="overlay_image_box" data-link-target="" data-link="https://www.oshsu.kg/ru"></div>
					</div>
					<div class="image_box arr1">
						<div class="img1116" style="background-image:url(/static/img/partner/libkg.png)"></div>
						<div class="overlay_image_box" data-link-target="" data-link="https://homeread.net/"></div>
					</div>
					<div class="image_box arr1">
						<div class="img1116" style="background-image:url(/static/img/partner/logo_cochraneLibrary.png)">
						</div>
						<div class="overlay_image_box" data-link-target="" data-link="https://www.cochranelibrary.com/">
						</div>
					</div>
					<div class="image_box arr1">
						<div class="img1116" style="background-image:url(/static/img/partner/logo_ebsco.png)"></div>
						<div class="overlay_image_box" data-link-target=""
							data-link="https://web.p.ebscohost.com/ehost/search/basic?vid=0&sid=b0360df0-7ff3-465d-b690-5aa7d0ffddf4%40redis">
						</div>
					</div>
					<div class="image_box arr1">
						<div class="img1116" style="background-image:url(/static/img/partner/logo_elibrary.png)"></div>
						<div class="overlay_image_box" data-link-target="" data-link="https://elibrary.ru/"></div>
					</div>
					<div class="image_box arr1">
						<div class="img1116" style="background-image:url(/static/img/partner/logo_ibook.png)"></div>
						<div class="overlay_image_box" data-link-target="" data-link="https://ibooks.oshsu.kg/"></div>
					</div>
					<div class="image_box arr1">
						<div class="img1116" style="background-image:url(/static/img/partner/logo_kirlibnet.png)"></div>
						<div class="overlay_image_box" data-link-target="" data-link="https://kyrlibnet.kg/ru/"></div>
					</div>

					<div class="image_box arr1">
						<div class="img1116" style="background-image:url(/static/img/partner/logo_lib.png)"></div>
						<div class="overlay_image_box" data-link-target=""
							data-link="http://library.manas.edu.kg/index.php/ru/"></div>
					</div>
					<div class="image_box arr1">
						<div class="img1116" style="background-image:url(/static/img/partner/logo_minis.png)"></div>
						<div class="overlay_image_box" data-link-target="" data-link="https://edu.gov.kg/"></div>
					</div>
					<div class="image_box arr1">
						<div class="img1116" style="background-image:url(/static/img/partner/logo_nasia.png)"></div>
						<div class="overlay_image_box" data-link-target="" data-link="https://vak.kg/"></div>
					</div>
					<div class="image_box arr1">
						<div class="img1116" style="background-image:url(/static/img/partner/logo_neb.png)"></div>
						<div class="overlay_image_box" data-link-target="" data-link="http://neb.kg/index.php/ru/">
						</div>
					</div>
					<div class="image_box arr1">
						<div class="img1116" style="background-image:url(/static/img/partner/logo_okuma.png)"></div>
						<div class="overlay_image_box" data-link-target="" data-link="https://www.okuma.kg/"></div>
					</div>

					<div class="image_box arr1">
						<div class="img1116" style="background-image:url(/static/img/partner/logo_wiley.png)"></div>
						<div class="overlay_image_box" data-link-target=""
							data-link="https://www.wiley.com/en-us/customer-success/wiley-online-library-translated-resources/wiley-online-library-translated-resources-in-russian">
						</div>
					</div>
					<div class="image_box arr1">
						<div class="img1116" style="background-image:url(/static/img/partner/logo_window.png)"></div>
						<div class="overlay_image_box" data-link-target="" data-link="http://window.edu.ru/"></div>
					</div>
					<div class="image_box arr1">
						<div class="img1116" style="background-image:url(/static/img/partner/msp.png)"></div>
						<div class="overlay_image_box" data-link-target="" data-link="https://msp.org/publications/">
						</div>
					</div>
					<div class="image_box arr1">
						<div class="img1116" style="background-image:url(/static/img/partner/scopus.png)"></div>
						<div class="overlay_image_box" data-link-target="" data-link="https://scopus.com/"></div>
					</div>

				</div>
			</div>
		</div>

		<!-- проба -->
		<div class="sec-container">
			<div class="good_know" id="good_to_know">


				<table class="good_box">

					<h2 class="good_title"><a style="color: #2c2c2c;"
							href="https://journal.oshsu.kg/index.php/index/index">Республиканские газеты и журналы</a></h2>

					<div class="good_inner">
						<div class="good_item">
							<a href="https://journal.oshsu.kg/index.php/vestnik" target="_blank">
								<img src="{% static 'img/journal/1.jpg' %}" alt="">
								<p>Вестник Ошского государственного университета</p>
							</a>
						</div>

						<div class="good_item">
							<a href="https://journal.oshsu.kg/index.php/tfij" target="_blank">
								<img src="{% static 'img/journal/2.jpg' %}" alt="">
								<p>Научный журнал теологического факультета ОшГУ</p>
							</a>
						</div>

						<div class="good_item">
							<a href="https://journal.oshsu.kg/index.php/agriculture" target="_blank">
								<img src="{% static 'img/journal/3.jpg' %}" alt="">
								<p>Вестник Ошского государственного университета. Сельское хозяйство: агрономия,
									ветеринария и зоотехния</p>
							</a>
						</div>

						<div class="good_item">
							<a href="https://journal.oshsu.kg/index.php/orientalstudies" target="_blank">
								<img src="{% static 'img/journal/4.jpg' %}" alt="">
								<p>Вопросы востоковедения</p>
							</a>
						</div>
					</div>
				</table>



			</div>
		</div>

		<!-- конец -->

		<div class="magazine_main magazine">

			<h3 class="magazine_subtitle">Журналы других государств Каталог на 1-ое полугодие 2024 год</h3>
			<table>
				<tr>
					<td>Индекси</td>
					<td>Басылмалардын аталышы</td>
					<td>Жарымжылдык мезгил</td>
					<td>Минималдуу жазылуу мөөнөтү (айы)</td>
					<td>Жазылуу баасы 1 айга НДС жана НсП менен</td>
					<td>Жазылуу баасы 6 айга НДС жана НсП менен</td>
					<td>Кеңсе жазуулары үчүн</td>
					<td>Тилкенин форматы</td>
				</tr>
				<tr>
					<td>Индекс </td>
					<td>Наименование</td>
					<td>Периодичность в полугодии</td>
					<td>Минимальный срок подписки (мес.)</td>
					<td>Подписная цена на 1 месяц с учетом налогов (Сом) </td>
					<td>Подпписная цена на 6 месяцев с учетом налогов (Сом) </td>
					<td>Для служебных заметок</td>
					<td>Вид издания</td>
				</tr>
				<tr>
					<td>013959</td>
					<td>120</td>
					<td>6</td>
					<td>1</td>
					<td>362.03</td>
					<td>2172.19</td>
					<td>273.48</td>
					<td>Газеты</td>
				</tr>
				<tr>
					<td>99002</td>
					<td>777</td>
					<td>27</td>
					<td>1</td>
					<td>415.19</td>
					<td>2491.13</td>
					<td>308.04</td>
					<td>Газеты</td>
				</tr>
				<tr>
					<td>013012</td>
					<td>1000</td>
					<td>12</td>
					<td>1</td>
					<td>416.11</td>
					<td>2496.66</td>
					<td>312.91</td>
					<td>Газеты</td>
				</tr>
				<tr>
					<td>013419</td>
					<td>1000</td>
					<td>13</td>
					<td>1</td>
					<td>353.16</td>
					<td>2118.93</td>
					<td>264.78</td>
					<td>Газеты</td>
				</tr>
				
			</table>
			<div style="padding: 10px;">
			<a href="{% url 'magazine'  %}" style="text-decoration: none;">Все</a>

			</div>
		
		</div>

		<div class="section section226 clip_none animate"
			style="background-color:#ffffff;padding-top:90px;padding-bottom:60px;" data-id="4722809" id="b_4722809"><a
				name="anchor5"></a>
			<div class="section_inner width1170 image_move">
				<div class="title"><span style="color:#2c2c2c"><span style="font-size:50px">Приходите к нам в
							библиотеку</span></span></div>

				{% for a in about %}
				<div class="sub_title"><span style="font-size:20px">{{a.title}}</span></div>
				<div data-link="" class="arr1 size_900x700 align_center rightt">
					<div class="image1 shadow">
						<img class="wh_about" data-lazy="1" loading="lazy" src="./static/img/about.jpg">
					</div>
					<div class="txt1">
						<div style="text-align: justify;">{{ a.info|safe }}</div>

					</div>
				</div>
				{% endfor %}

			</div>
		</div>







		<div class="section clip_none section147" style="background-color:#f1f1f1;" data-id="4732138" id="b_4732138"><a
				name="a_4732138"></a>

			<div class="vid">

				<div class="vid_inner">
					<div class="title"><a style="text-decoration: none; font-family: Georgia; color: #2c2c2c;"
							href="{% url 'photo' %}"><b>Фото</b></a></div>
					<div style="width: 100%;" id="carouselExampleIndicators1" class="carousel slide"
						data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
							<li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
							<li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img class="d-block w-100" src="{%  static 'img/abonoment.jpg' %}" alt="First slide">
							</div>
							<div class="carousel-item">
								<img class="d-block w-100" src="{%  static 'img/read_hall.jpg' %}" alt="Second slide">
							</div>
							<div class="carousel-item">
								<img class="d-block w-100" src="{%  static 'img/voleybol.jpg' %}" alt="Third slide">
							</div>
						</div>
						<a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button"
							data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#carouselExampleIndicators1" role="button"
							data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>



				<div class="vid_inner">
					<div class="title"><a style="text-decoration: none; font-family: Georgia; color: #2c2c2c;"
							href="#"><b>Видео</b></a></div>
						{% for item in videos %}
					<div class="vid_item" style="margin-left: -80px;">

						{% video item.url '650x240' %}

						<!-- <iframe width="100%" height="100%"
							src="https://www.youtube.com/embed/t5QTaJWomlU?si=BG4aFw-avIi7hVss"
							title="YouTube video player" frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen></iframe> -->
					</div>
						{% endfor %}
				</div>
			</div>
		</div>



		<div class="section section117 clip_none" style="padding-top:80px;padding-bottom:80px;" data-id="4723136"
			id="b_4723136"><a name="anchor9"></a>
			<div class="section_inner width1170">
				<div class="title" style="color: #2c2c2c;">История</div>
				<div class="historyCon" style="text-align: justify;  margin-bottom: 10px; "><span
						style="font-size:18px; font-family:roboto;">Научная библиотека
						Ошского Государственного университета активно и плодотворно функционирует с 1939 года со дня
						основания данного учебного заведения. На основе постановления №1142 совета народных
						комиссаров Кыргызстана от 10 августа 1939 года была образована Ошская школа учителей, в 1951
						году постановлением №1759 правительства СССР – Ошский Государственный педагогический
						институт, с 17 июня 1992 года согласно постановлению №202 президента КР был создан Ошский
						Государственный Университет.</span></div>
				<div class="arr_wrapper">
					<div class="arr1" style="margin: 0;">

						<div style="width: 45%; margin: 0 auto;" id="carouselExampleIndicators2"
							class="historyMain carousel slide" data-ride="carousel">
							<ol class="carousel-indicators">
								<li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
								<li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
								<li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
							</ol>
							<div class="carousel-inner">
								<div class="carousel-item active">
									<img class="d-block w-100 historySize" src="./static/img/his1.jpg"
										alt="First slide">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100 historySize" src="./static/img/his2.jpg"
										alt="Second slide">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100 historySize" src="./static/img/his3.jpg"
										alt="Third slide">
								</div>
							</div>
							<a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button"
								data-slide="prev">
								<span class="carousel-control-prev-icon" ariahidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next" href="#carouselExampleIndicators2" role="button"
								data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>

						<div class="col_2">
							<div class="txt1">
								<p style="text-align: justify;"><span style="font-family:roboto"><span
											style="font-size:17px;">Люди, руководящие и
											внесшие большой вклад в создание научной библиотеки университета: А.И.
											Федова, Ф.Х. Дауранова, К. Турсунова, А.В. Ильяева, М.Ю. Клебанова.
											1947–1996 годы под руководством М.Ю. Клебановой фонд библиотеки был
											переписан в инвентарные журналы, были составлены алфавитные, системные и
											рабочие каталоги. 1996–2005 годы А. Г. Ибрагимова работала директором
											научной библиотеки. В эти годы фонд библиотеки пополнился учебниками,
											научно–методическими пособиями, диссертациями, словарями и другими книгами,
											общее количество, которых превысило 730 тысяч. Фонд библиотеки достиг 812661
											единиц. 2005–2009 годы С. С. Токтомамбетова работала в качестве директора
											научной библиотеки. <br>
											С 2009 по 2011 год научная библиотека университета находилась в ведении
											Департамента новых
											технологий и инвестиций, действовали четыре центральные библиотеки и три
											отдела.
											Первым заведующим кафедрой был кандидат биологических наук, доцент Эркебаев
											Т.К., затем заведующим кафедрой был кандидат педагогических наук, доцент,
											депутат городского совета Жоробеков Т.А. В это время книжный фонд научной
											библиотеки составлял 880 000 экземпляров.
										</span></span></p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div data-hcolor="#ff6600"
			class="section section130 clip_none s_mode_s120 mobile_col2 inner_width img_square transparent_ico"
			style="background-color:#ffffff;padding-top:30px;padding-bottom:60px;--tiles_radius:0px;--tiles_shadow:none;--bg_color:#ffffff;"
			data-id="4722806" id="b_4722806"><a name="anchor3"></a>
			<div class="section_inner all_border"
				style="--icon_size:64px;--btn_fweight:300;--btn_fsize:18px;--item_title_fweight:400;">
				<a style="text-decoration: none; color: #000;" href="{% url 'structure' %}">
					<div class="title">Структура<br></div>
				</a>
				<div class="catalog_items short_text count3 s120 ">

					{% for s in structure %}
					<div class="arr1">
						<div class="col_4">
							<div data-link="" class="image1 s120 radius shadow">
								<img style="height: 100% !important;" data-lazy="1" src="{{s.d_img.url}}"
									loading="lazy">
							</div>
							<div class="title1"><u><span style="font-size:20px">Директор</span></u></div>
							<div class="txt1"><span style="font-size: 17px;">{{s.director}}</span></div>
						</div>
					</div>
					{% endfor %}
					{% for s in structure %}
					<div class="arr1">
						<div class="col_4">
							<div data-link="" class="image1 s120 radius shadow">
								<img style="height: 100% !important;" alt="" data-lazy="1" src="{{s.ibo_img.url}}"
									loading="lazy">
							</div>
							<div class="title1"><u><span style="font-size:20px">ИБО</span></u></div>
							<div class="txt1"><span style="font-size:17px">{{s.ibo}}</span><br></div>
						</div>
					</div>
					{% endfor %}
					{% for s in structure %}
					<div class="arr1">
						<div class="col_4">
							<div data-link="" class="image1 s120 radius shadow">
								<img style="height: 100% !important;" alt="" data-lazy="1" src="{{s.e_res_img.url}}"
									loading="lazy">
							</div>
							<div class="title1"><u><span style="font-size:20px">Отдел электронных ресурсов</span></u>
							</div>
							<div class="txt1"><span style="font-size: 17px;">{{s.e_res}}</span></div>
						</div>

					</div>
					{% endfor %}

				</div>
			</div>
		</div>

	</div>


</body>

{% include 'footer.html' %}
{% endblock content %}