{% load static %}

<div class="section section2116 fixed_top" "="" style=" background-color: rgb(255, 255, 255); padding-top: 0px;
    padding-bottom: 0px; position: fixed; top: 0px; z-index: 101; left: 0px;" data-id="4722802" id="b_4722802">
    <a name="a_2478125"></a>
    <div class="section_inner logo_left">
        <div class="wrapp">
            <div class="menu-toogler square new_burger" style="color:#000;background-color:#fff"><svg>
                    <use xlink:href="/img/menu_burger.svg#menu"></use>
                </svg></div>
            <div class="logo">
                <div class="logo_img">
                    <img data-lazy="1" src="{% static 'img/logo.png' %}"></div>
            </div>
            <div class="menu1 menu_block animate_menu3"
                style="color:#212121;background-color:#fff;font-size:17px">
                <ul style="width:1100px">
                    <li class="level0"><a href="#"
                            title="Главная">Главная</a></li>
                    <li class="level0"><a href="#anchor6"
                            title="Книги ">Книги </a></li>
                    <li class="level0"><a href="#anchor7"
                            title="Новости">Новости</a></li>
                    <li class="level0"><a href="#anchor4"
                            title="Ресурсы библиотек">Ресурсы библиотек</a></li>
                    <li class="level0"><a href="#anchor5"
                            title="О библиотеке">О библиотеке</a></li>
                    <li class="level0"><a href="#anchor9"
                            title="История">История</a></li>
                    <li class="level0"><a href="#anchor3"
                            title="Структура">Структура</a></li>
                    <li class="level0"><a href="#anchor8"
                            title="Контакты">Контакты</a></li>
                    <li class="level0"><a href="{% url 'catalog' %}"
                            title="Каталог">Каталог</a></li>
                    <li class="level0"><a href="{% url 'readers' %}"
                            title="Читатель">Читатель</a></li>
                           
                </ul>
            </div>
        </div>
    </div>
</div>