{% extends 'index.html' %}
{% load static %}

{% block content %}

{% include 'navbar.html' %}

<body class="editor_false  lang_ru     not_ie">
 <div id="wrapper" class="" style="padding-top: 88px;">

        <div class="readers">
            <div class="structure_container">
                <h1 class="structure_title">Читателям</h1>
                <div class="readers_content">
                    <div class="readers_box">
                        <img src="{% static 'img/st1.jpg' %}" alt="">
                    </div>
                   
                        <div class="readers_text">
                            <h1>lorem100</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, minus eos iusto dolore culpa, dicta quos mollitia officia quia doloribus vel dignissimos adipisci pariatur natus maiores nulla inventore ducimus accusamus ipsa similique repellendus facilis. Explicabo accusamus beatae, accusantium eligendi quidem temporibus consequatur neque porro unde atque odit maiores, cumque quia nobis. Dolore totam sed deleniti praesentium dolores explicabo obcaecati aspernatur! Architecto dolorum iure dolor distinctio nostrum quia quidem perspiciatis veritatis. Corrupti, porro? Incidunt, quae labore tenetur doloremque consequuntur fuga exercitationem corporis dignissimos ipsam quis, porro perspiciatis consectetur reiciendis? Eos saepe dicta pariatur eligendi! Assumenda a quibusdam numquam vero nesciunt. Accusantium.</p>
                        </div> 
                  
                </div>
            </div>
        </div>

    </div>


</body>
{% endblock content %}

        


